
// -----------------------------------------------------------------------------
// This file contains only basic styles
// -----------------------------------------------------------------------------

body {
    background: white;
    font: normal 1rem/1.2 Arial, Helvetica, sans-serif;
    color: black;
}
