
// -----------------------------------------------------------------------------
// This file contains only text styles, including headings, paragraphs, etc...
// -----------------------------------------------------------------------------

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 3.25rem;
}

h3 {
    font-size: 1.88rem;
}

h4 {
    font-size: 1.56rem;
}

p {
    font-size: 1.31rem;
    line-height: 2.06rem;
}
